# Laravel specific
/public/mix-manifest.json

# Laravel Telescope (kalau pakai)
storage/telescope

# Laravel Horizon (kalau pakai Redis queue dashboard)
horizon.log

# Laravel config cache
bootstrap/cache/*.php

# SQLite DB (kalau pakai sqlite)
database/*.sqlite

# Composer vendor binaries
/vendor/bin

# Laravel Valet
.valet

# Laravel Pint (jika pakai Laravel code formatter)
.pint.json
.env
