# Laravel specific
/public/mix-manifest.json
/public/js
/public/css

# Laravel Telescope (kalau pakai)
storage/telescope

# Laravel Horizon (kalau pakai Redis queue dashboard)
horizon.log

# Laravel config cache
bootstrap/cache/*.php

# SQLite DB (kalau pakai sqlite)
database/*.sqlite

# Composer vendor binaries
/vendor/bin

# User-uploaded files (kalau disimpan di storage)
storage/app/public

# Laravel Valet
.valet

# Laravel Pint (jika pakai Laravel code formatter)
.pint.json
.env
